@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  margin: 0;
  padding: 0;
}
.todoDefault {
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  width: full;
  cursor: pointer;
  color: black;
  border-bottom: 4px;
  border-color: black;
  margin: 10px, 10px, 10px;

}



.completed {
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  width: 588px;
  cursor: pointer;
  margin: 10px, 10px, 10px;
  text-decoration: line-through;
}